@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.board {
    background: white;
    max-width: 56.25em;
    height: 2000px;
    position: relative;
    margin: auto;
    // display: flex;
    //box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
    padding: 4em 1em 0em 1em;
    font-family: 'Noto Sans KR', sans-serif;
}
