.topBarBox {
    background: white;
    width: 100%;
}
.topBar {
    width: calc(100% - 8em);
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
.searchBtn {
    cursor: pointer;
}
.searchBar {
    display: none;
}