.login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000080;
    z-index: 10000;
}
.modalContainer {
    position: absolute;
    width: 40em;
    height: 30em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 4%) 0px 6px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    background: white;
    display: flex;

    .modalHead {
        display: flex;
        padding: 2em;
        background: #E6E6FA;
        justify-content: space-between;
    }

    .modalCancel {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .loginBox {
        width: 50%;
        margin: auto;
        padding: 2em;
        h5 {
            margin: 0;
            margin-bottom: 0.5em;
        }
        input {
            width: 92%;
            padding: .375rem .75rem;
            font-size: 1rem;
            border: 1px solid #ced4da;
            line-height: 1.5;
            border-radius: .25rem;
        }
        button {
            cursor: pointer;
            color: white;
            background: #0d6efd;
            border-color: #0d6efd;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            border-radius: .25rem;
        }
        a {
            text-decoration: none;
            color: #72767d;
            font-size: 0.825rem;
        }
        .inputBox {
            margin-bottom: 2em;
        }
        .btnBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.hideLogin {
    display: none;
}
